@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body
{
    font-family: 'Raleway', sans-serif;
    
    font-size: 15px;
    
    text-align: justify;
    
    
}


#section1 
{
    display: flex;
    
}



#entete
{
    display:flex ;
    justify-content:space-between ;
    
   
    
    
}
header
{

text-align: justify;
margin-right: 30px;
margin-left: 30px;

}



/* ****************** navigation******************** */


nav 
{
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
    
    
} 




nav a:hover
{
   
color:#0065fc;
border-top: #0065fc solid 2px;
    
    
}


nav a 

{
     text-decoration: none;
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     
    
 }



 #inscrire
 
 {
color: #0065fc;

 }

 





 




    /* *************************RECHERCHE********************* */

#localisation
{
   display: flex;
   
    margin-left: -60px;
    margin-top: 35px;
    margin-bottom: 35px;
    
    

   
}
#map
{
    background-color: #f2f2f2;
    border-color:#f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 60px;
}
#textrecherche
{
    
    border-top: #f2f2f2 solid;
    border-bottom: #f2f2f2 solid;
    border-right: none ;
    border-left: none ;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: bolder;
    font-size:20px;
    color: black;
    
}
.fa-search
{
    display: none;
}


#bouton
{
    background-color: #0065fc;
    border: #f2f2f2;
    border-radius: 0px 15px 15px 0px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    font-size: 15px;
    
}
#titrefiltre
{
font-size:20px;
font-weight: bolder;


}

#filtre
{
   display: flex;
   align-items: center;
   
   
    
    

}
.fa-ul
{
    list-style-type: none;
    display: flex;

    
}
li
{
    display: flex;
    margin-left: 50px;
    
 }
    
.li:hover
{
    background-color: #0065fc;
    
}

.li
{
    
    border: #f2f2f2 solid;
    border-radius: 30px;
    border-width:  3px; 
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 38px;
    font-size: 20px;
    margin-left: 60px;
    
    
    


    

}
.fa-li
{
    
    border: white;
    border-radius: 50%;
    background-color:#deebff ;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    position: relative;
    
    
    
   
   
}
#info
{
    display: flex;
    align-items: center;
    justify-content: flex-start;

   
  

}
#p2
{
    display: flex;  
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    


}
#logoinfo
{
    color: #0065fc;
    border:2px  #f2f2f2 solid;
    border-radius: 50%;
   width: 22px;
   height: 22px;
    display: flex;
   align-items: center;
   justify-content: center;
   }

   
   a
   {
       text-decoration: none;
       color: black;
   }
 
   /* ****************************HEBERGEMENTS************************** */
#section1
{
    height: 800px;
    display: flex;
    
}

#hebergements
{

    width:65%;
    height:800px;
    background-color: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 30px;
    padding-left: 60px;
    padding-right: 60px;
    
     
    


}

.photo

{
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px; 
    object-fit: cover;
     
}

.textphotohebergement
   {
    height: 100px;
    padding-left:10px ;

    
   }
   .sousarticle
   {
       display: flex;
       align-content: space-between;
       justify-content: space-between;
       flex-wrap: wrap;
    
       
       
      
       
   }
   .carte
   {
        border: 5px white solid;
        border-radius: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        background-color:white ;
        align-content: space-between;
        justify-content: space-between;
        width: 25%;
        height: 280px;
        flex-wrap: wrap;
       
        
        
    }
    .etoiles
    {
        display: flex;
        align-items: baseline;
        color: #0065fc; 
    }



    .etoilespopulaires
       {
           display: flex;
           align-items: baseline;
           color: #0065fc;
           margin-top: 60px;
       }

       .etoilesvides
       {
           
        color: #f2f2f2;
       }
       .titrephoto
       {
        font-size: 17px;  
        font-weight: bolder;
        margin-bottom: 0px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        
       }

       .afficher
       {
           font-size: 20px;
           font-weight: bolder ;
           color: black;
           margin-top: 30px;
           
           margin-bottom: 30px;
           }

        .titrehebergements
        {
            font-size: 20px; 
            font-weight: bolder;
             
        } 
        
        
       /* *********************LES PLUS POPULAIRES****************** */
       #lespluspopulaires
       {
           display: flex;
           flex-direction: column;
           width: 25%;
           height: 800px;
           align-content: space-between;
           justify-content: space-between;
           background-color: #f2f2f2;
           border-radius: 15px;
           margin-right: 30px;
           align-items: center;
           
           
           
           
           
           
          
           

       }

       #titrepopulaire
       {
           display: flex;
           flex-direction: row;
           
           
           
        
           
           
       }
       .titrepopulaire
       {
          font-size: 20px; 
          font-weight: bolder;
          margin-right: 210px;
          
          
          
          
        }


       .sousaside
       {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            justify-content:space-between;
            padding-bottom: 25px;
            height: 700px; 
            

           
        }

       .cartepopulaires
       {
           background-color: white;
           border: white solid 5px;
           padding-left: 2px;
           border-radius: 15px;
           display: flex;
           flex-direction: row;
           height: 170px;
           width: 450px;
           

         }
         
         
            
             
         

       .photopopulaires
       {
        
       
        width: 160px;
        height: 100%;
        border-radius: 15px 0 0 15px;
        object-fit: cover;
        
        }


       .textphoto
       {
         margin-left: 20px;
         margin-top: 10px;
         width: 240px;
         
         
         
       }

       
       .iconpopulaire
       {
      
          margin-top: 25px;
           
       }
       
       
    
           
    
       
    /* **************************ACTIVITES A MARSEILLE********************* */ 
    section
    {
        justify-content: space-between;
        align-content: space-between;
        display: flex;
        
        
        
    }
    article
    {
        justify-content: space-between;
        align-content: space-between;
        display: flex;
        flex-direction: column;
        
    
    }

    #activites
    {
        justify-content: space-between;
        align-content: space-between;
        margin-top: 50px;
       
    }
    
    
    
    #sousactivites
    {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        
        

        
    }


    #sousactivites2
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        width: 22%;
        height: 550px;

    
    }
    .titreactivites
    {
        font-size: 20px; 
        font-weight: bolder;
        margin-left: 30px;   
    }

    .titrephotoactivites
    {
        font-size: 15px;
        margin-left: 20px;
        font-weight: bolder;
        
    }
    .photo1
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
        

    }
    .photo2
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    .photo3
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
       height: 180px;
        object-fit: cover;
        
        
    }

    #carteport
    {
        
        height: 550px;
        width: 22%;
        border-radius: 15px;
        margin-left: 30px;
        box-shadow: 2px 2px 10px gray;
        
    }

    #cartefort
    {
        
        border-radius: 15px;
        width: 100%;
        height: 280px;
        box-shadow: 2px 2px 10px gray;
        

    }
    #cartefrioul
    {
        
        border-radius: 15px;
        width: 100%;
        height: 230px;
        box-shadow: 2px 2px 10px gray;
        

    }


    #sousactivites3
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        width: 22%;
        margin-right: 30px;
        height: 550px;
        
        
    }
    .photo4
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
        
    }
    .photo5 
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 190px;
        object-fit: cover;
     
    }
    .photo6
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 220px;
        object-fit: cover;
        
    }
    #cartecalanque
    {
        border-radius:15px ;
        box-shadow: 2px 2px 10px gray;
        width: 22%;
        height: 550px;
        

        
    }

    #cartenotredame
    {
        border-radius: 15px;
        box-shadow: 2px 2px 10px gray;
        height: 240px;
        

       
    }
    #cartelongchamp
    {
        border-radius: 15px;
        box-shadow: 2px 2px 10px gray;
        height: 270px;
        

        

    }
    

    


/* *************************footer************************ */

#footer
{
    display: flex;
    
    align-content: space-between;
    background-color: #f2f2f2;
    margin-top: 50px;
    height:
   

}
.titrefooter
{
 font-weight: bolder;
 line-height: 50px;
 
 

}
.foot
{
    display: flex;
    width: 30%;
    
    
}

footer li
{
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) 
{
 #bloc
 {
    width: 900px;
 }
nav
{
    width: auto;

}    
#inscrire
{
    position: fixed;
}
.fa-ul
{
    display: flex;
    flex-wrap: wrap;
}


}