@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0;
    
    
    
}






header
{
    display:flex ;
    
    
    justify-content: space-between;

    margin-left: 30px;
    
    
    
}

#logo
{

width: 0;
}




/* ****************** navigation******************** */



nav
{

    display: flex;
    justify-content: space-around;
    width: 25%;  
    align-content: center;
    
     
} 
    
nav a
{
text-decoration: none;
display: flex;
align-items: flex-end;
justify-content: space-around;

}

#inscrire
 
 {
color: #0065fc;


 }

 .navhebergements
 {
     width: 150px;
 }
 .navhebergements:hover
 {
     color: #0065fc ;
     border-top:#0065fc solid 2px ;
 }
 .navactivites
 {
     width: 130px;
 }
 .navactivites:hover
 {
     color: #0065fc;
    border-top: #0065fc solid 2px;
 }

 





 




    /* *************************RECHERCHE********************* */
#section1
{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    flex-wrap: wrap;
}

    #localisation

{
   display: flex;
   
    margin-left: -60px;
    margin-top: 35px;
    margin-bottom: 35px;
    
    

   
}
#map
{
    background-color: #f2f2f2;
    border-color:#f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 60px;
}
#textrecherche
{
    
    border-top: #f2f2f2 solid;
    border-bottom: #f2f2f2 solid;
    border-right: none ;
    border-left: none ;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: bolder;
    font-size:20px;
    color: black;
    
}
.fa-search
{
    display: none;
}


#bouton
{
    background-color: #0065fc;
    border: #f2f2f2;
    border-radius: 0px 15px 15px 0px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: white;
    font-size: 15px;
    
}
#titrefiltre
{
font-size:20px;
font-weight: bolder;


}

#filtre
{
   display: flex;
   align-items: center;
   
   
    
    

}
.fa-ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    
}
li
{
    display: flex;
    margin-left: 50px;
    
 }
    
.li:hover
{
    background-color: #0065fc;
    
}

.li
{
    
    border: #f2f2f2 solid;
    border-radius: 30px;
    border-width:  3px; 
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 38px;
    font-size: 20px;
    margin-left: 60px;
    
    
    


    

}
.fa-li
{
    
    border: white;
    border-radius: 50%;
    background-color:#deebff ;
    color: #0065fc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    position: relative;
    
    
    
   
   
}
#info
{
    display: flex;
    align-items: center;
    justify-content: flex-start;

   
  

}
#p2
{
    display: flex;  
    align-items: center;
    margin-left: 15px;
    font-size: 18px;
    


}
#logoinfo
{
    color: #0065fc;
    border:2px  #f2f2f2 solid;
    border-radius: 50%;
   width: 22px;
   height: 22px;
    display: flex;
   align-items: center;
   justify-content: center;
   }

   
   a
   {
       text-decoration: none;
       color: black;
   }
 
   /* ****************************HEBERGEMENTS************************** */
#section2
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}

#hebergements
{

    width:65%;
    
    background-color: #f2f2f2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 30px;
    padding-left: 60px;
    padding-right: 60px;
    
     
    


}

.photo

{
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px; 
    object-fit: cover;
     
}

.textphotohebergement
   {
    height: 100px;
    padding-left:10px ;

    
   }
   .sousarticle
   {
       display: flex;
       align-content: space-between;
       justify-content: space-between;
       flex-wrap: wrap;
       height: 100%;
       
       
      
       
   }
   .carte
   {
        border: 5px white solid;
        border-radius: 15px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        background-color:white ;
        align-content: space-between;
        justify-content: space-between;
        width: 25%;
        height: 280px;
        min-width: 230px;
        box-shadow: 2px 2px 10px 2px rgba(220,220,220) ;
        transition: 0.5s;

    }
    .carte:hover
    {
        transform: scale(1.05);
    }

    .etoiles
    {
        display: flex;
        align-items: baseline;
        color: #0065fc; 
    }



    .etoilespopulaires
       {
           display: flex;
           align-items: baseline;
           color: #0065fc;
           margin-top: 60px;
       }

       .etoilesvides
       {
           
        color: #f2f2f2;
       }
       .titrephoto
       {
        font-size: 17px;  
        font-weight: bolder;
        margin-bottom: 0px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        
       }

       .afficher
       {
           font-size: 20px;
           font-weight: bolder ;
           color: black;
           margin-top: 30px;
           
           margin-bottom: 30px;
           }

        .titrehebergements
        {
            font-size: 20px; 
            font-weight: bolder;
             
        } 
        
        
       /* *********************LES PLUS POPULAIRES****************** */
       #lespluspopulaires
       {
           display: flex;
           flex-direction: column;
           width: 30%;
           align-content: space-between;
           justify-content: space-between;
           background-color: #f2f2f2;
           border-radius: 15px;
           margin-left: 30px;
           margin-right: 30px;
           align-items: center;
           padding-left: 80px;
           padding-right: 80px;
           
           
        }

         #titrepopulaire
       {
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 100%;
           
        
           
           
       }
       .titrepopulaire
       {
          font-size: 20px; 
          font-weight: bolder;
          
          
          
          
          
        }


       .sousaside
       {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            flex-wrap: wrap;
            height: 100%; 
            justify-content: space-around;
            
            

           
        }

       .cartepopulaires
       {
           background-color: white;
           border: white solid 5px;
           padding-left: 2px;
           border-radius: 15px;
           display: flex;
           flex-direction: row;
           height: 170px;
           width: 420px;
            box-shadow: 2px 2px 10px 2px rgb(220,220, 220);
           transition: 0.5s;
        }

       .cartepopulaires:hover

       {
        transform: scale(1.05);   
       }


        .photopopulaires

       {

        width: 160px;
        border-radius: 15px 0 0 15px;
        object-fit: cover;
        
        }


       .textphoto
       {
         margin-left: 20px;
         margin-top: 10px;
         width: 240px;
         
         
         
       }

       
       .iconpopulaire
       {
      
          margin-top: 20px;
           
       }
       
       
    
           
    
       
    /* **************************ACTIVITES A MARSEILLE********************* */ 
    #section3
    {
        justify-content: space-between;
        align-content: space-between;
        display: flex;
        
        
    }

    article
    {
        justify-content: space-between;
        align-content: space-between;
        display: flex;
        flex-direction: column;
        
    
    }

    #activites
    {
        justify-content: space-between;
        align-content: space-between;
        margin-top: 50px;
       width: 100%;
    }
    
    
    
    #sousactivites
    {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }


    #sousactivites1
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        width: 22%;
        height: 550px;

    
    }
    .titreactivites
    {
        font-size: 20px; 
        font-weight: bolder;
        margin-left: 30px;   
    }

    .titrephotoactivites
    {
        font-size: 15px;
        margin-left: 20px;
        font-weight: bolder;
        
        
    }
    .photo1
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
        

    }
    .photo2
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 230px;
        object-fit: cover;
    }
    .photo3
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
       height: 180px;
        object-fit: cover;
        
        
    }

    #carteport
    {
        
        height: 550px;
        width: 22%;
        border-radius: 15px;
        margin-left: 30px;
        box-shadow: 2px 2px 10px 2px rgba(220,220,220) ;
        transition: 0.5s;
    }
    #carteport:hover
    {
        transform: scale(1.05);
    }

    #cartefort
    {
        
        border-radius: 15px;
        width: 100%;
        height: 280px;
        box-shadow: 2px 2px 10px 2px rgba(220,220,220) ;
        transition: 0.5s;

    }
    #cartefort:hover
    {
        transform: scale(1.05);
    }

    #cartefrioul
    {
        
        border-radius: 15px;
        width: 100%;
        height: 230px;
        box-shadow: 2px 2px 10px 2px rgba(220,220,220) ;
        transition: 0.5s;

    }
    #cartefrioul:hover
    {
        transform: scale(1.05);   
    }

    #sousactivites2
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        width: 22%;
        margin-right: 30px;
        height: 550px;
        
        
    }
    .photo4
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 500px;
        object-fit: cover;
        
    }
    .photo5 
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 190px;
        object-fit: cover;
     
    }
    .photo6
    {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 220px;
        object-fit: cover;
        
    }
    #cartecalanque
    {
        border-radius:15px ;
        box-shadow: 2px 2px 10px 2px  rgba(220,220,220);
        width: 22%;
        height: 550px;
        transition: 0.5s;
    }

    #cartecalanque:hover
    {
        transform: scale(1.05);   
    }

    #cartenotredame
    {
        border-radius: 15px;
        box-shadow: 2px 2px 10px 2px  rgba(220,220,220);
        height: 240px;
        transition: 0.5s;
    }

    #cartenotredame:hover
    {
        transform: scale(1.05);   
    }

    #cartelongchamp
    {
        border-radius: 15px;
        box-shadow: 2px 2px 10px 2px  rgba(220,220,220);
        height: 270px;
        transition: 0.5s;
        
    }
    #cartelongchamp:hover
    {
        transform: scale(1.05);
    }

    

    


/* *************************footer************************ */

footer
{
    display: flex;
    align-content: space-between;
    background-color: #f2f2f2;
    margin-top: 50px;
    
   

}
.titrefooter
{
 font-weight: bolder;
 line-height: 50px;
 
}

.foot
{
    display: flex;
    width: 30%;
    
}

footer li
{
    margin-bottom: 10px;
}

/* ***********grands ecrans************* */

@media screen and (max-width :1600px) 
{
  #hebergements
  {
      padding-left: 20px;
      padding-right: 20px;
  } 
  #lespluspopulaires
  {
      padding-left: 20px;
      padding-right: 20px;
      width: 35%;
  }
  .titreactivites
  {
      font-size: 18px;
  }
  .titrepopulaire
  {
      font-size: 18px;
  } 
  .titrehebergements
  {
      font-size: 18px;
  }
  .afficher
  {
      font-size: 18px;
  }
  .titrephoto
  {
      font-size: 15px;
  }
  .tarif
  {
      font-size: 13px;
  }
  .lien-filtre
  {
      font-size: 16px;
  }
  .carte
  {
      min-width: 200px;
      height: 240px;
  }
  .photo
  {
      height: 150px;
  }
  .textphoto
  {
     width: 200px;
  }
  .cartepopulaires
  {
      width: 380px;
  }
}
@media screen and (max-width: 1250px) {
    .carte
    {
        width: 45%;
    }
    #lespluspopulaires
    {
        width: 40%;
    }
    #sousactivites
    {
        height: 420px;
    }
    #sousactivites1
    {
        height: 420px;
    }
    #sousactivites2
    {
        height: 420px;
    }
    .li
    {
        margin-left: 20px;
    }
    
    .photo1
    {
        height: 370px;
    }
    #carteport
    {
        height:  420px;
    }
    .photo2
    {
        height: 150px;
    }
    #cartefort
    {
        height: 200px;
    }
    .photo3
    {
        height: 150px;
    }
    #cartefrioul
    {
        height: 200px;
    }
    .photo4
    {
        height: 370px;
    }
    #cartecalanque
    {
        height: 420px;
    }
    .photo5
    {
        height: 150px;
    }
    #cartenotredame
    {
        height: 200px;
    }
    .photo6
    {
        height: 150px;
    }
    #cartelongchamp
    {
        height: 200px;
    }
    
}
/* **************tablettes************** */

@media screen and (max-width: 1030px) 
{
 header
 {
   border-bottom: #f2f2f2 solid 2px; 
   margin-left: 0; 
 }
 #section2 
 {
   flex-wrap: wrap-reverse; 
 }


nav
{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 80px;
    
}   
.navhebergements
{
    width: 50%;
    padding-bottom: 20px;
    border-top: transparent solid 2px;
    border-bottom: transparent solid 2px;

} 
.navactivites
{
    width: 50%;
    padding-bottom: 20px;
    border-top: solid transparent 2px;
    border-bottom: solid transparent 2px;
}
.navhebergements:hover
{
    border-top: transparent 2px solid;
    border-bottom: #0065fc 2px solid; 
}
.navactivites:hover
{
    border-top: transparent 2px solid;
    border-bottom: #0065fc 2px solid;
}
#inscrire
{
    position: absolute;
    top: 15px;
    right: 25px;
}
#logo
{
    position: absolute;
    left: 25px;
}
.fa-ul
{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
}
#hebergements
{
    
    display: flex;
    flex-wrap: wrap;
     width: 100%;
   margin-right: 30px; 


}
#lespluspopulaires
{
    width: 100%;
    margin-bottom: 30px;
}
.textphoto
{
    width: 150px;
}
.sousaside
{
    flex-direction: row;
    justify-content: center;
}
.cartepopulaires
{
    margin-left: 20px;
    width: 310px;
    margin-bottom: 20px;
    
}
.sousarticle
{
    display: flex;
    height: auto;

}
.carte
{
    width: 25%;
}
#filtre
{
    display:block;
}


.li
{
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 10px;
}
#sousactivites
{
    height: 100%;
}
#carteport
{
    width: 45%;
    margin-bottom: 30px;
}
#sousactivites1
{
    width: 45%;
    margin-right: 30px;
}
#cartecalanque
{
    width: 45%;
    margin-left: 30px;
}
#sousactivites2
{
    width: 45%;
}

footer ul
{
width: 100%;
padding-left: 0px ;
font-size: 14px;
}
.foot
{
    width: 100%;
}

}
@media screen and (max-width: 800px){
    #localisation
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .rechercher
    {
        display: none;
    }
    .fa-search
    {
        display: initial;
    }
    #bouton
    {
        border-radius: 15px 15px 15px 15px;
        margin-left: -10px;
    }
    #textrecherche
    {
        font-size: 16px;
    }
    #lespluspopulaires
    {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        border-radius: initial;
        margin-bottom: 0px;
    }
    .iconpopulaire

    {
        margin-right: 30px;
    }
    #hebergements
    {
        background-color: white;
        padding: 0;
    }
    .titrepopulaire
    {
        margin-left: 30px;
    }
    .carte
    {
        width: 45%;
    }
    .photo1
    {
        height: 200px;
    }
    #carteport
    {
        height: 250px;
        width: 45%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .photo2
    {
        height: 200px;
    }
    #cartefort
    {
        height: 250px;
        width: 45%;
    }
    .photo3
    {
        height: 200px;
    }
    #cartefrioul
    {
        height: 250px;
        width: 45%;
        margin-bottom: 20px;

    }
    .photo4
    {
        height:200px ;
    }
    #cartecalanque
    {
        height: 250px;
        width: 45%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .photo5
    {
        height: 200px;
    }
    #cartenotredame
    {
        height: 250px;
        width: 45%;
    }
    .photo6
    {
        height: 200px;
    }
    #cartelongchamp
    {
        height: 250px;
        width: 45%;
    }
    #activites
    {
        display: block;
        height: 100%;
        margin-top: 0px;
    }
    #sousactivites
    {
        margin-left: 30px;
        margin-right: 30px;
    }
    #sousactivites1
    {
        display: contents;
    }
    #sousactivites2
    {
        display: contents;
    }
    footer
    {
        width:100%;
    }
    .foot
    {
        width: 100%;
    }


    
}
@media screen and (max-width:700px) {
    #hebergements
    {
        width: 100%;
    
    }
    .cartepopulaires
    {
        width: 90%;
        margin-left: 30px;
    }
    .photopopulaires
    {
        width: 40%;
    }
    #lespluspopulaires
    {
        width: 100%;
    }
    .sousaside
    {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }
    #carteport
    {
        width: 100%;
    }
    #cartefort
    {
        width: 100%;
    }
    #cartefrioul
    {
        width: 100%;
        margin-top: 20px;
    }
    #cartecalanque
    {
        width: 100%;
    }
    #cartenotredame
    {
        width: 100%;
        
    }
    #cartelongchamp
    {
        width: 100%;
        margin-top: 20px;
    }
    .carte
    {
        width: 100%;
    }
    footer
    {
        display: block;
    }
    
}
/* ****************smartphone****************** */

@media screen and (max-width:450px) {
    #textrecherche
    {
        width: 100%;
        padding-right: 0px;
    }
    #localisation{
        margin-right: 20px;
    }
    #logoinfo
    {
        width: 30px;
    }
    .cartepopulaires
    {
        width: 80%;
    }
    #titre2
    {
        margin-right: 20px;
        margin-bottom: 0px;
    }
    #titrefiltre
    {
        font-size: 18px;
    }
    #p2
    {
        font-size: 15px;
    }
    .etoilespopulaires
    {
        margin-top: 40px;
    }
    .cartepopulaires
    {
        height: 150px;
    }
    .carte
    {
        height: 190px;
    }
    .photo
    {
        height: 110px;
    }
    .tarif
    {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .textphotohebergement
    {
        height: 80px;
    }
    .photo1,.photo2,.photo3,.photo4,.photo5, .photo6
    {
        height: 150px;
    }
    #carteport,  #cartefort,  #cartefrioul, #cartecalanque, #cartenotredame, #cartelongchamp
    {
        height: 200px;
    }
    
    

    }
